body, html {
  height:auto;
  max-width: 1800px;
  margin: 0 auto;
} 


body {
  background-color: #fff;
  min-height: 100%;
  }

  p {
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
   }

/* Header and Logo */

.header {
  height: 150px;
  width: 100%;
  background-color: rgb(96, 99, 100);
  border-bottom: 3px;
}

#logo img{
  float: left;
  width: 250px;
  height:auto;
  background-repeat: no-repeat;
}

/* Nav-Bar */

.nav-bar {
  display:flex;
  letter-spacing: 5px;
  
}

li > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Teko', sans-serif;
  font-size: 140%;
}

li a:hover {
  color: #111;
  
}

.nav-bar li {
  list-style-type: none;
  margin-top: 50px;
  margin-right: 100px;
  text-align: right;
}

/* Main Header */

.main-header {
  height:65px;
  width:100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Teko', sans-serif;
}

.main-header-home h1 {
  margin-left:20%;
  max-width: 60%;
  text-align: center;
  font-size: 200%;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Teko', sans-serif;
}


/* Cover Image */

.main-image {
  height:auto;
  width:100%;
}
.main-image img {
  height: auto;
  width:100%;
}

/* History */

.content h1 {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 200%;
}

.history-header {
  text-align: center;
  font-size: 200%;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Teko', sans-serif;
}

.history-left img {
  height: 20%;
  width: 45%;
  float: left;
}

.history-right img {
  height: 20%;
  width: 45%;
  float: right;
}
.history-right {
  margin-right: 50px;
  margin-left: 50px;
}

.history-left {
  margin-left: 50px;
  margin-right: 50px;
}

.content p {
  line-height: 35px;
}

/* specs */

.center {
  margin-left: auto;
  margin-right: auto;
}

.specs {
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

.even {
  background-color: rgb(173, 172, 172);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid black;
  width: 60%;
  column-count: 2;
}

th {
  line-height: 35px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

tr:hover {
  background-color: rgba(17, 17, 17, 0.212);
} 

td {
  line-height:35px;
}

.left-row { 
  float: left;
  border-bottom: 3px;
  display: table;
  margin-left: 15%;
}

.right-row {
  float:right;
  display: table;
  text-align: right;
  border-bottom: 3px;
  margin-right: 15%;
}
 
/* Gallery */

.gallery {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}

.gallery > img {
  width: 100%;
}

/* Footer */

.footer-container {
  height:200px;
  background-color: rgb(96, 99, 100);
  box-sizing: border-box;
  margin-top:50px
}

.footer-container a:hover {
  color: #111; 
}

.footer {
  width: 100%;
  height: auto;
  background-color: rgb(96, 99, 100);
  color: #fff;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Teko', sans-serif;
}

.footer div {
  display: inline-block;
  margin-left: 50px;
}
.footer a {
  display:block;
  text-decoration: none;
  padding-left: 10px;
  margin-bottom: 10%;
  color: white;
}

.footer h1 {
  text-align: center;
}

.sign-up {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}

.button {
  background-color: red;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* Media Queries */

/* For larger to medium screens  */

@media screen and (max-width:1150px) {
  body, html {
    height:auto; 
    margin: 0 auto;
  } 
  
  
  body {
    background-color: #fff;
    min-height: 100%;
    }
  
    p {
      font-size: 125%;
      font-family: Arial, Helvetica, sans-serif;
     }

     .nav-bar {
      flex-direction: column;
    }

    .nav-bar > a {
      display: flex;
      background-color:black;
    }

    .header {
      height: 300px;
      width: 100%;
    }

    .main-header-home {
      height: 200px;
      width: 100%;
      text-align: center;
    }
    .main-header-home h1 {
      width: 80%;
      text-align: center;
      font-size: 170%;
      height:200px;
    
    }

    .gallery {
      column-count: 2;
    }
}

/* For medium size screens */

@media screen and (max-width:950px) {
  .header {
    height: 300px;
    width: 100%;
  }

  .nav-bar {
    flex-direction: column;
  }

  .history-left img {
    height: 50%;
    width: 100%;
    float: left;
  }
  
  .history-right img {
    height: 50%;
    width: 100%;
    float: right;
  }

  .specs {
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* For small to medium size screens */

@media screen and (max-width: 800px) {

  .header {
    height: 300px;
    width: 100%;
  }
  .nav-bar {
     flex-direction: column;
  }
  
  .nav-bar li {
    display: block;
    margin-left: 0;
    margin-right: 15     0px;
    font-size: 80%;
  }

  .main-header-home {
    height: 300px;
    width: 100%
  }

  .main-header-home h1 {
    width: 80%;
    text-align: center;
    font-size: 170%;
    height:300px;
    position :absolute;
  }

  .history-left img {
    height: 50%;
    width: 100%;
    float: left;
  }
  
  .history-right img {
    height: 50%;
    width: 100%;
    float: right;
  }

  .gallery {
    column-count: 1;
  }

  .footer-container {
    height: 450px;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }

  .sign-up {
    display: inline;
  }
  .support .community {
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }

  .specs {
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* For mobile phones */

@media screen and (max-width: 400px) {
  .main-header-home {
    height: 700px;
    width: 100%
  }

  .main-header-home h1 {
    width: 80%;
    text-align: center;
    font-size: 170%;
    height:500px;
    position :absolute;
  }

  .specs {
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
  .support .community {
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
  }
  
  .nav-bar {
    flex-direction: column;
    margin-left: 0;
    margin-right:0 auto;
    text-align: left;
  }

  .logo {
    position:relative;
  }
}