/* Headings and logo */
#logo {
  float: left;
  margin-left: 50px;
  font-size: 300;
  color: black;
  
}

li > a {
color: rgb(9 143 136);
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Teko', sans-serif;
  font-size: 158%;
}
.nav-bar {
 
  letter-spacing: 5px;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #111;
  
}

.nav-bar li {
  float: right;
  list-style-type: none;
  margin-right: 50px;
  margin-top: 50px;
 
  
}

p {
  font-size: 135%;
  
 }

body, html {
  height: 125%;

  
} 

body {
  background-color:darkgray;
}


.background-image1 {
  background-image: url("../images/es-335.jpg");
  height: 40%;
  background-repeat: no-repeat;
  
}

.history-header {
  text-align: center;
  font-size: 300%;
}

.history-1 img {
  height: 20%;
  width: 45%;
  float: left;
}

.history-2 img {
  height: 20%;
  width: 45%;
  float: right;
}
/* Footer */


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 0, 0, 0.103);
  color: white;
  text-align: center;
}

